html,body{
    margin: 0;
    background-color: #f5ebdc;
    padding-top: 1.7%;
}
header{
    position: absolute;
}
nav{
    position: fixed;
    width: 100%;
    height: 55px;
    padding: 2px;
    top: 0;
    background-color: #f5ebdc;
    z-index: 100;
}
div.logo{
    width:3.5%;
    margin-left: 12%;
}
.img-logo{
    width: 55px;
}
div.links{
    display: flex;
}
.ul-links{
    display: flex;
}
.ul-links > li{
    list-style: none;
}
.ul-links > li > a{
    text-decoration: none;
    color: rgb(99, 24, 3);
    padding: 15px;
    font-size: 1em;
    font-weight: bold;
    font-family: Flame-Regular,sans-serif;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;
}

/********************CODIGO DEL CONTENEDOR GENERAL DE LOS CUPONES**************************/
div.container-cupones{
    /* background-color:rgb(132, 246, 246); */
    height: 98.5%;
    display: flex;
}
div.panel-menu {
    background-color: #f5ebdc;
    width: 33%;
    text-align: center;
    padding: 3px;
    overflow-y: auto; 
    scrollbar-width: auto;
    max-height: calc(100vh - 58px); 
}
div.panel-menu > ul{
    margin-left: -2%;
    display: flex;
}
div.panel-menu > ul > li{
    padding: 4px;
    list-style: none;
}
div.panel-menu > ul > li > a{
    text-decoration: none;
    color: rgb(99, 24, 3);
}
div.container-info{
    /* background-color: aqua; */
    width: 60%;
    height: 90%;
    margin-left: 3%;
    margin-top: 2%;
    text-align: center;
}

.expandir{
    width: 58%;
    height: 55%;
}
.expandirtitulo{
    font-size: 2em;
    text-align: center;
}
.descrip-larga{
    display: none;
}
/***************ESTILOS DE BOTONES************/
button.bt-cupones{
    width: 90%;
    height: 130px;
    cursor: pointer;
    margin-bottom: 1.5%;
    border-radius: 10px;
    background-color: white;
    border: white;
}

div.cl-NameDescrip{
    display: flex;
}
div.cl-NameDescrip > div.descripcion{
    width: 60%;
    text-align: left;
    margin-top: 0%;
    max-width: 60%;
}
div.cl-NameDescrip > div.imagen{
    width: 40%;
    align-items: center;
    justify-content: center;
}
div.cl-NameDescrip > div.imagen > img{
    width: 80%;
    margin-top: 2%;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #502314;
    margin-left: 2%;
    margin-top: 1%;
    font-size: 16px;
}
div.descripcion > p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 3%;
}

button.bt-descargar{
    background-color: rgb(218, 0, 0);
    color: white;
    font-size: 110%;
    font-weight: bold;
    font-family: "Homer Simpson UI";
    height: 7%;
    width: 28%;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0;
}

/*********************CODIGO DEL FOOTER******************************/
footer{
    background-color: #502314;
    height: 75%;
}
div.foo-container{
    padding: 2%;
    width: 96%;
    height: 60%;
    display: flex;
}
div.foo-container > div.logo{
    width: 55%;
}
div.foo-container > div.logo > img{
    width: 20%;
    margin-top: 5%;
}
div.links-foo{
    width: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.links-foo > h2{
    margin-left: 16%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.links-foo > ul > li{
    list-style: none;
    padding: 10px;
}
div.links-foo > ul > li >a{
    text-decoration: none;
    color: white;
    font-size: 103%;
}

footer > hr{
    width: 72%;
}
div.redes {
    display: flex;
    width: 72%;
    margin-left: 13.5%;
    padding: 10px;
    align-items: center; 
    justify-content: space-between; 
}

div.redes > p {
    font-size: 80%;
    color: white;
    flex: 1; 
}

div.redes > img {
    margin-left: 2%;
    flex: 0; 
}


@media(hover:hover){
    .ul-links > li > a:hover{
        color:rgb(203, 46, 2);
        border-bottom: 1px solid rgb(203, 46, 2);
    }
    div.columna1 > img:hover{
        transform: scale(1.03); 
    }
    .cs-img1 > img:hover, .cs3-img1 > img:hover{
        transform: scale(1.03);
    }
    div.cs1-img1 > img:hover,div.cs2-img1 > img:hover,div.cs3-img1 > img:hover{
        transform:scale(1.03);
    }
}