/***********************ESTILOS DEL HTML DE NOTICIAS********************/
body{
    background-color: #f5ebdc;
    /* background-image: url(../img/PideAqui/imgHamburguesa_Whopper.png);
    background-repeat: no-repeat; */
    position: relative;
    padding-top: 10%;
    margin: 0;
}

nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 58px;
    padding: 2px;
    top: 0;
    background-color: #f5ebdc;
    z-index: 100;
}
div.logo{
    width:3.5%;
    margin-left: 12%;
}
.img-logo{
    width: 55px;
}

.ul-links{
    display: flex;
}

.ul-links > li{
    list-style: none;
}

div.links{
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.ul-links > li > a{
    text-decoration: none;
    color: rgb(88, 55, 16);
    padding: 15px;
    font-size: 0.8em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

nav > button{
    background-color: rgb(224, 56, 33);
    width: 8%;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 90%;
    border-radius: 25px;
    font-family: fantasy;
    margin-left: 10%;
    margin-top: 0.5%;
    align-items: center;
    justify-content: center;
}

div.container {
    width: 100%;
    position: relative; /* Importante para los elementos posicionados absolutamente dentro de él */
}

div.img-fondo {
    width: 100%;
}

img.img-whopper {
    display: block;
    margin: 0 auto;
    width: 40%;
    position: absolute;
    width: 100%;
    height: 550px;
}

div.opciones-comida {
    background-color: #EFE2CF;
    width: 26%;
    margin-left: 12%;
    margin-top: -2%;
    position: absolute; /* Posición absoluta para superponerse por encima de la imagen */
    padding: 20px;
    border-radius: 40px;
    box-shadow: -1px 1px 8px -2px rgba(165,165,165,0.72);
    -webkit-box-shadow: -1px 1px 8px -2px rgba(165,165,165,0.72);
    -moz-box-shadow: -1px 1px 8px -2px rgba(165,165,165,0.72);
}

div.opciones-comida > h2{
    color: rgb(70, 42, 8);
    font-weight: bold;
    font-family: condensed 120% sans-serif;
}
.bt-opciones {
    background-color: #f5ebdc;
    width: 100%;
    height: 80px; /* Cambiado para permitir contenido variable */
    margin-bottom: 2.5%;
    border-radius: 12px;
    border: none;
    display: grid;
    grid-template-columns: 18% 1fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    align-items: start; 
}

.bt-opciones > label {
    font-weight: bold;
    font-family: condensed 120% sans-serif;
    font-size: 1.1em;
    color: rgb(70, 42, 8);
    text-align: left;
    display: flex;
    grid-column: 2/2;
    grid-row: 1;
    flex-direction: column;
    margin-top: 10%;
}   

.bt-opciones > .img-opciones {
    width: 70px;
    margin-top: 10%;
    grid-column: 1/1;
    grid-row: 1;
}

p.descripcion {
    color: rgb(70, 42, 8);
    text-align: left;
    grid-column: 2/2;
    grid-row: 1;
    font-family: sans-serif; 
    margin-top: 17%;
    font-weight: 300;
    opacity: 0;
    transition: opacity 0.5s; 
}
div.container-noticias{
    /* background-color: aqua; */
    width: 73%;
    margin-left: 12%;
    margin-top: -2%;
}

div.container-noticias > h1{
    font-weight: bold;
    color: #502314;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.container-noticias > img{
    width: 31%;
    margin-bottom: 2%;
}

footer{
    background-color: #502314;
    height: 90%;
}
div.foo-container{
    padding: 2%;
    width: 96%;
    height: 60%;
    display: flex;
}
div.foo-container > div.logo{
    width: 55%;
}
div.foo-container > div.logo > img{
    width: 20%;
    margin-top: 5%;
}
div.links-foo{
    width: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.links-foo > h2{
    margin-left: 16%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.links-foo > ul > li{
    list-style: none;
    padding: 10px;
}
div.links-foo > ul > li >a{
    text-decoration: none;
    color: white;
    font-size: 103%;
}

footer > hr{
    width: 72%;
}
div.redes {
    display: flex;
    width: 72%;
    margin-left: 9%;
    padding: 10px;
    align-items: center; 
    justify-content: right; 
}

div.redes > p {
    font-size: 80%;
    color: white;
    flex: 1; 
}
div.redes > a {
    margin-left: 2%;
    flex: 0; 
}
div.barraInicial{
    width: 75%;
    height: 15%;
    margin-left: 10%;
    margin-top: -1%;
}
div.barraInicial > ul{
    display: flex;
    align-items: center;
    justify-content: left;
}
div.barraInicial > ul > li{
    list-style: none;
    margin-left: 3%;
    margin-top: 2%;
}
div.barraInicial > ul > li > a{
    text-decoration: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.523);
}